tgcrypto
pymongo[srv]==3.12.3
coroutine
flask
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
cinemagoer
datetime
pytz
aiohttp
psutil==5.9.4
asyncio
python-telegram-bot
fastapi>=0.68.0
uvicorn>=0.15.0
pyrogram>=2.0.0
python-multipart
